// This file was auto-generated by Fern from our API Definition.

import * as DetectantApi from "./api/index.js";
import { HealthClient } from "./api/resources/health/client/Client.js";
import { ScansClient } from "./api/resources/scans/client/Client.js";
import type { BaseClientOptions, BaseRequestOptions } from "./BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "./BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "./core/headers.js";
import * as core from "./core/index.js";
import * as environments from "./environments.js";
import { handleNonStatusCodeError } from "./errors/handleNonStatusCodeError.js";
import * as errors from "./errors/index.js";

export declare namespace Detectant {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class Detectant {
    protected readonly _options: NormalizedClientOptionsWithAuth<Detectant.Options>;
    protected _health: HealthClient | undefined;
    protected _scans: ScansClient | undefined;

    constructor(options: Detectant.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get health(): HealthClient {
        return (this._health ??= new HealthClient(this._options));
    }

    public get scans(): ScansClient {
        return (this._scans ??= new ScansClient(this._options));
    }

    /**
     * Uploads one file and synchronously runs content-type and malware analysis.
     * Only the first multipart part named `file` with a filename is
     * scanned; other parts are ignored. Free accounts accept files up to
     * 50 MiB; Grow and Scale accounts accept files up to 250 MiB.
     *
     * @param {core.file.Uploadable} file
     * @param {Detectant.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link DetectantApi.BadRequestError}
     * @throws {@link DetectantApi.UnauthorizedError}
     * @throws {@link DetectantApi.ForbiddenError}
     * @throws {@link DetectantApi.ContentTooLargeError}
     * @throws {@link DetectantApi.TooManyRequestsError}
     * @throws {@link DetectantApi.InternalServerError}
     * @throws {@link DetectantApi.ServiceUnavailableError}
     * @throws {@link errors.DetectantApiError}
     * @throws {@link errors.DetectantApiTimeoutError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.scan(createReadStream("path/to/file"))
     */
    public scan(
        file: core.file.Uploadable,
        requestOptions?: Detectant.RequestOptions,
    ): core.HttpResponsePromise<DetectantApi.Scan> {
        return core.HttpResponsePromise.fromPromise(this.__scan(file, requestOptions));
    }

    private async __scan(
        file: core.file.Uploadable,
        requestOptions?: Detectant.RequestOptions,
    ): Promise<core.WithRawResponse<DetectantApi.Scan>> {
        const _body = await core.newFormData();
        await _body.appendFile("file", file);
        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DetectantApiEnvironment.Default,
                "v1/scans",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DetectantApi.Scan, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new DetectantApi.BadRequestError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new DetectantApi.UnauthorizedError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new DetectantApi.ForbiddenError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 413:
                    throw new DetectantApi.ContentTooLargeError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new DetectantApi.TooManyRequestsError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new DetectantApi.InternalServerError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new DetectantApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.DetectantApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/scans");
    }

    /**
     * Uploads between 1 and 20 files in repeated `files` multipart parts. Each
     * file uses its account plan's 50 MiB or 250 MiB per-file limit, validation, content-type
     * analysis, malware detection, persistence, usage accounting, and billing path
     * as `createScan`. The encoded multipart request limit is the plan's
     * per-file limit × 20 plus 1 MiB for multipart framing.
     *
     * Results preserve submitted-file order. File-level validation or scanner
     * failures are returned in the corresponding result and do not prevent
     * other files from being scanned. The whole request is rejected only for
     * request-level failures such as invalid multipart data, authentication or
     * rate-limit failure, more than 20 files, or an oversized total request.
     *
     * @param {core.file.Uploadable[]} files
     * @param {Detectant.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link DetectantApi.BadRequestError}
     * @throws {@link DetectantApi.UnauthorizedError}
     * @throws {@link DetectantApi.ForbiddenError}
     * @throws {@link DetectantApi.ContentTooLargeError}
     * @throws {@link DetectantApi.TooManyRequestsError}
     * @throws {@link DetectantApi.InternalServerError}
     * @throws {@link errors.DetectantApiError}
     * @throws {@link errors.DetectantApiTimeoutError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.scanBatch([createReadStream("path/to/file")])
     */
    public scanBatch(
        files: core.file.Uploadable[],
        requestOptions?: Detectant.RequestOptions,
    ): core.HttpResponsePromise<DetectantApi.ScanBatchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__scanBatch(files, requestOptions));
    }

    private async __scanBatch(
        files: core.file.Uploadable[],
        requestOptions?: Detectant.RequestOptions,
    ): Promise<core.WithRawResponse<DetectantApi.ScanBatchResponse>> {
        const _body = await core.newFormData();
        for (const _file of files) {
            await _body.appendFile("files", _file);
        }

        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DetectantApiEnvironment.Default,
                "v1/scans/batch",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DetectantApi.ScanBatchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new DetectantApi.BadRequestError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new DetectantApi.UnauthorizedError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new DetectantApi.ForbiddenError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 413:
                    throw new DetectantApi.ContentTooLargeError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new DetectantApi.TooManyRequestsError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new DetectantApi.InternalServerError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.DetectantApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/scans/batch");
    }

    /**
     * Make a passthrough request using the SDK's configured auth, retry, logging, etc.
     * This is useful for making requests to endpoints not yet supported in the SDK.
     * The input can be a URL string, URL object, or Request object. Relative paths are resolved against the configured base URL.
     *
     * @param {Request | string | URL} input - The URL, path, or Request object.
     * @param {RequestInit} init - Standard fetch RequestInit options.
     * @param {core.PassthroughRequest.RequestOptions} requestOptions - Per-request overrides (timeout, retries, headers, abort signal).
     * @returns {Promise<Response>} A standard Response object.
     */
    public async fetch(
        input: Request | string | URL,
        init?: RequestInit,
        requestOptions?: core.PassthroughRequest.RequestOptions,
    ): Promise<Response> {
        return core.makePassthroughRequest(
            input,
            init,
            {
                baseUrl: this._options.baseUrl ?? this._options.environment,
                headers: this._options.headers,
                timeoutInSeconds: this._options.timeoutInSeconds,
                maxRetries: this._options.maxRetries,
                fetch: this._options.fetch,
                logging: this._options.logging,
                getAuthHeaders: async () => (await this._options.authProvider.getAuthRequest()).headers,
            },
            requestOptions,
        );
    }
}
