// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as DetectantApi from "../../../index.js";

export declare namespace HealthClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Service health probes.
 */
export class HealthClient {
    protected readonly _options: NormalizedClientOptions<HealthClient.Options>;

    constructor(options: HealthClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Returns successfully while the API process can serve requests.
     *
     * @param {HealthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.DetectantApiError}
     * @throws {@link errors.DetectantApiTimeoutError}
     *
     * @example
     *     await client.health.getLiveness()
     */
    public getLiveness(
        requestOptions?: HealthClient.RequestOptions,
    ): core.HttpResponsePromise<DetectantApi.HealthResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getLiveness(requestOptions));
    }

    private async __getLiveness(
        requestOptions?: HealthClient.RequestOptions,
    ): Promise<core.WithRawResponse<DetectantApi.HealthResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DetectantApiEnvironment.Default,
                "health/live",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DetectantApi.HealthResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.DetectantApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/health/live");
    }

    /**
     * Checks the database, schema, scanner signatures, and scanning dependencies.
     *
     * @param {HealthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link DetectantApi.ServiceUnavailableError}
     * @throws {@link errors.DetectantApiError}
     * @throws {@link errors.DetectantApiTimeoutError}
     *
     * @example
     *     await client.health.getReadiness()
     */
    public getReadiness(
        requestOptions?: HealthClient.RequestOptions,
    ): core.HttpResponsePromise<DetectantApi.HealthResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getReadiness(requestOptions));
    }

    private async __getReadiness(
        requestOptions?: HealthClient.RequestOptions,
    ): Promise<core.WithRawResponse<DetectantApi.HealthResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DetectantApiEnvironment.Default,
                "health/ready",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DetectantApi.HealthResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 503:
                    throw new DetectantApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.DetectantApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/health/ready");
    }
}
