// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as DetectantApi from "../../../index.js";

export declare namespace ScansClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Submit files and retrieve account-scoped scan results.
 */
export class ScansClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ScansClient.Options>;

    constructor(options: ScansClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns scans owned by the authenticated account in descending creation order.
     *
     * @param {DetectantApi.ListScansRequest} request
     * @param {ScansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link DetectantApi.BadRequestError}
     * @throws {@link DetectantApi.UnauthorizedError}
     * @throws {@link DetectantApi.TooManyRequestsError}
     * @throws {@link DetectantApi.InternalServerError}
     * @throws {@link errors.DetectantApiError}
     * @throws {@link errors.DetectantApiTimeoutError}
     *
     * @example
     *     await client.scans.listScans()
     */
    public listScans(
        request: DetectantApi.ListScansRequest = {},
        requestOptions?: ScansClient.RequestOptions,
    ): core.HttpResponsePromise<DetectantApi.ScanList> {
        return core.HttpResponsePromise.fromPromise(this.__listScans(request, requestOptions));
    }

    private async __listScans(
        request: DetectantApi.ListScansRequest = {},
        requestOptions?: ScansClient.RequestOptions,
    ): Promise<core.WithRawResponse<DetectantApi.ScanList>> {
        const {
            limit,
            cursor,
            verdict,
            filename,
            engine_signature: engineSignature,
            detection_rule: detectionRule,
        } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            cursor,
            verdict,
            filename,
            engine_signature: engineSignature,
            detection_rule: detectionRule,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DetectantApiEnvironment.Default,
                "v1/scans",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DetectantApi.ScanList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new DetectantApi.BadRequestError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new DetectantApi.UnauthorizedError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new DetectantApi.TooManyRequestsError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new DetectantApi.InternalServerError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.DetectantApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/scans");
    }

    /**
     * Returns one scan owned by the authenticated account.
     *
     * @param {DetectantApi.GetScanRequest} request
     * @param {ScansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link DetectantApi.UnauthorizedError}
     * @throws {@link DetectantApi.NotFoundError}
     * @throws {@link DetectantApi.TooManyRequestsError}
     * @throws {@link DetectantApi.InternalServerError}
     * @throws {@link errors.DetectantApiError}
     * @throws {@link errors.DetectantApiTimeoutError}
     *
     * @example
     *     await client.scans.getScan({
     *         scan_id: "scan_0123456789abcdef0123456789abcdef"
     *     })
     */
    public getScan(
        request: DetectantApi.GetScanRequest,
        requestOptions?: ScansClient.RequestOptions,
    ): core.HttpResponsePromise<DetectantApi.Scan> {
        return core.HttpResponsePromise.fromPromise(this.__getScan(request, requestOptions));
    }

    private async __getScan(
        request: DetectantApi.GetScanRequest,
        requestOptions?: ScansClient.RequestOptions,
    ): Promise<core.WithRawResponse<DetectantApi.Scan>> {
        const { scan_id: scanId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DetectantApiEnvironment.Default,
                `v1/scans/${core.url.encodePathParam(scanId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DetectantApi.Scan, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new DetectantApi.UnauthorizedError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new DetectantApi.NotFoundError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new DetectantApi.TooManyRequestsError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new DetectantApi.InternalServerError(
                        _response.error.body as DetectantApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.DetectantApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/scans/{scan_id}");
    }
}
